@font-face
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 400
  src url(/fonts/WorkSans-Regular.ttf) format(ttf), url(/fonts/WorkSans-Regular.woff) format(woff), url(/fonts/WorkSans-Regular.woff2)

@font-face
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 500
  src url(/fonts/WorkSans-Medium.ttf) format(ttf), url(/fonts/WorkSans-Medium.woff) format(woff), url(/fonts/WorkSans-Medium.woff2)
